<div class="dialog">
    <h1 mat-dialog-title>Contact Me!</h1>
    <div mat-dialog-content>
        <ul>
            <li>
                <img src="../../assets/linkedin-brands.svg" alt="linkedin icon">
                <button mat-stroked-button>
                    <a href="https://www.linkedin.com/in/caleb-osborn-911389242/" target="_blank">LinkedIn</a>
                </button>
            </li>
            <li>
                <img src="../../assets/envelope-solid.svg" alt="email icon">
                <button mat-stroked-button>
                    <a href="mailto:calebosborn114@gmail.com">Gmail</a>
                </button>
            </li>
            <li>
                <img src="../../assets/github-brands.svg" alt="github icon">
                <button mat-stroked-button>
                    <a href="https://github.com/Cosbo9" target="_blank">Github</a>
                </button>
            </li>
        </ul>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>