.projectsContainer {
    background-image: linear-gradient(transparent, white);
}

h1 {
    margin: 2rem 0;
    text-align: center;
    font-size: 3rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
    mat-card {
        margin: 1rem 0;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        mat-card-title {
            align-self: center;
        }
        img {
            width: -webkit-fill-available;
        }
        h3 {
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 500;
        }
        .btnGroup {
            display: flex;
            justify-content: space-around;
            button {
                width: 100%;
                margin: 0 3rem;
                a {
                    color: white;
                    font-weight: 500;
                    text-decoration: none;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media(max-width: 690px) {
    .cardContainer {
        display: flex;
        justify-content: center;
        mat-card {
            margin: 1rem 0;
            max-width: 70%;
            display: flex;
            flex-direction: column;
            mat-card-title {
                align-self: center;
            }
            img {
                width: -webkit-fill-available;
            }
            h3 {
                padding: 1rem;
                font-size: 1.25rem;
                font-weight: 500;
            }
            .btnGroup {
                display: flex;
                button {
                    width: 100%;
                    margin: 0 2rem;
                    a {
                        width: -webkit-fill-available;
                        color: white;
                        font-weight: 500;
                        text-decoration: none;
                        font-size: .75rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 450px) {
    .projectsContainer {
        // width: fit-content;
        height: auto;
    }
    .cardContainer {
        display: flex;
        justify-content: center;
        mat-card {
            margin: 1rem 0;
            max-width: 70%;
            display: flex;
            flex-direction: column;
            mat-card-title {
                align-self: center;
            }
            img {
                width: -webkit-fill-available;
            }
            h3 {
                padding: 1rem;
                font-size: 1.25rem;
                font-weight: 500;
            }
            .btnGroup {
                display: flex;
                flex-direction: column;
                button {
                    width: 100%;
                    margin: .5rem 0;
                    a {
                        width: -webkit-fill-available;
                        color: white;
                        font-weight: 500;
                        text-decoration: none;
                        font-size: .75rem;
                    }
                }
            }
        }
    }
}