<div class="homeContainer">
    <div class="header">
        <mat-toolbar>
            <h3 routerLink="/">Caleb Osborn</h3>
            <div class="btnGroup">
                <h6 routerLink="projects">Projects</h6>
                <div class="iconList" mat-dialog-content>
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/caleb-osborn-911389242/" target="_blank">
                                <img src="../../assets/linkedin-brands.svg" alt="linkedin icon">
                            </a>
                        </li>
                        <li>
                            <a href="mailto:calebosborn114@gmail.com">
                                <img src="../../assets/envelope-solid.svg" alt="email icon">
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Cosbo9" target="_blank">
                                <img src="../../assets/github-brands.svg" alt="github icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </mat-toolbar>
        <div class="tag">
            <img src="../assets/selfie.jpg" alt="Caleb Osborn">
            <h1>
                I Make Professional Websites <br> & Applications
            </h1>
        </div>
    </div>
    <div class="aboutContainer">
        <h1>About Me!</h1>
        <p>
            After finding myself with an abundance of free time in early 2020 (because, well, you can guess why) I decided to look into coding out of idle curiosity. Following my first video lesson, I made a Space Invaders type game using Python and immediately knew
            I was hooked! That very next year in 2021 I signed up for the <a mat-button target="_blank" href="https://www.codefiworks.com/codelabs/">Code Labs Full Stack Developer Course</a> learning Ruby on Rails and Angular. A born problem
            solver and lover of puzzles programming has been able to scratch my creative thinking itch.
        </p>
        <p>
            So if you'd like a website/application made using Angular, React, Ruby on Rails, or just somebody to touch up a HTML/CSS file contact me!
        </p>
    </div>
</div>